sudo: true
language: java
notifications:
  email: false
jdk:
  - oraclejdk8

services:
  - mongodb
before_install:
  - chmod +x gradlew
install:
  - ./gradlew compileJava
script:
  - ./gradlew test jacocoTestReport coveralls --stacktrace
after_success:
  - ./gradlew coveralls