sudo: true
language: java
notifications:
  email: false
jdk:
  - openjdk8

services:
  - mongodb
before_install:
  - chmod +x gradlew
install:
  - ./gradlew clean compileJava
script:
  - ./gradlew clean ciTest jacocoTestReport coveralls
after_success:
  - ./gradlew clean coveralls
branches:
  only:
    - master
