sudo: true
language: java
notifications:
  email: false
jdk:
  - oraclejdk8

services:
  - mongodb
before_install:
  - chmod +x gradlew
install:
  - ./gradlew clean compileJava
script:
  - ./gradlew clean test jacocoTestReport coveralls
after_success:
  - ./gradlew clean coveralls
