springfox:
  documentation:
    swagger:
      v2:
        path: /api/docs
spring:
  data:
    mongodb:
      uri: mongodb://127.0.0.1:27017
      database: coachy

logging:
  level:
    org:
      springframework: WARN
      mongodb: WARN
      xnio: WARN
    life:
      coachy: WARN

server:
  port: 3000