springfox:
  documentation:
    swagger:
      v2:
        path: /api/docs
spring:
  data:
    mongodb:
      uri: ${MONGODB_URI}
  shell:
    interactive:
      enabled: false
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${SMTP_USERNAME}
    password: ${SMTP_PASSWORD}
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true
  servlet:
    multipart:
      max-file-size: 3MB
      file-size-threshold: 3KB
  rabbitmq:
    host: ${MQ_HOST}
    username: ${MQ_USERNAME}
    password: ${MQ_PASSWORD}
    port: ${MQ_PORT}
    virtual-host: ${MQ_VIRTUALHOST}
logging:
  level:
    org:
      springframework: WARN
      mongodb: WARN
      xnio: WARN
      apache: WARN
    life:
      coachy: WARN
    io:
      undertow: WARN
    springfox: WARN
server:
  port: 3000
  servlet:
    session:
      cookie:
        name: coachy-backend
frontend: https://coachy-frontend.herokuapp.com

