springfox:
  documentation:
    swagger:
      v2:
        path: /api/docs
spring:
  data:
    mongodb:
      uri: mongodb://127.0.0.1:27017
      database: coachy
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${SMTP_USERNAME}
    password: ${SMTP_PASSWORD}
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true
  servlet:
    multipart:
      max-file-size: 3MB
      file-size-threshold: 3KB
  rabbitmq:
    host: localhost
    username: guest
    password: guest
    port: 61613
    allowedOrigins: http://localhost:8080
  profiles:
    active: production
logging:
  level:
    org:
      springframework: WARN
      mongodb: WARN
      xnio: WARN
      apache: WARN
    life:
      coachy: WARN
    io:
      undertow: WARN
    springfox: WARN
server:
  port: 3000
  servlet:
    session:
      cookie:
        name: coachy-backend
frontend:
  uri: http://localhost:8080/#/
