springfox:
  documentation:
    swagger:
      v2:
        path: /api/docs
spring:
  data:
    mongodb:
      uri: mongodb://127.0.0.1:27017
      database: coachy
  mail:
    host: smtp.gmail.com
    port: 587
    username: <username>
    password: <password>
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true
      mail.smtp.starttls.required: true

logging:
  level:
    org:
      springframework: WARN
      mongodb: WARN
      xnio: WARN
    life:
      coachy: WARN
    io:
      undertow: WARN
    springfox: WARN
server:
  port: 3000