<?xml version="1.0" encoding="UTF-8"?>
<!--
  @author https://github.com/dzikoysk
  @source https://github.com/Panda-Programming-Language/Reposilite/blob/master/reposilite-backend/src/main/resources/log4j2.xml
-->

<Configuration status="INFO">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="[%d{dd.MM.YYYY HH:mm:ss.SSS}][%t/%-5p] %msg%n"/>
      <RegexFilter regex=".*(Failed to perform cleanup of multipart items)." onMatch="DENY" onMismatch="ACCEPT"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="all">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>